.imgbox{
    float:left;
    text-align: center;
    width: 120px;
    border: 1px solid black;
    margin: 4px;
    padding: 6px;
}

button{
    width:100%;
    border-radius: 10px;
    background-color: gray
}

button:hover{
    background-color: red;
    color:white;
    cursor:pointer;
}