.fname{
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 150px;
    font-size: 16px;
}

.lname{
    padding: 10px 10px 10px 10px ;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 150px;
    font-size: 16px;
}

.email{
    display: block;
    border-radius: 5px;
    width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
    font-size: 16px;
}

.sign-up{
    margin-left: 10px;
    background-color: #3873E5 ;
    color: white;
    border: none;
    width: 340px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.sign-up:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.sign-up:active{
    opacity: 0.5;
}